<h1>Transactions#index</h1>
<% @stores.each do |store| %>

  <h3><%= store.name %> / <%= store.owner %></h3>

  <table>
    <tr>
      <th>Tipo</th>
      <th>Data</th>
      <th>Valor</th>
      <th>CPF</th>
      <th>Cartão</th>
    </tr>
    <% store.transactions.each do |transaction| %>
      <tr>
        <td><%= TransactionType.desc(transaction.transaction_type) %></td>
        <td><%= transaction.date %></td>
        <td><%= TransactionType.operation_value(transaction.transaction_type, transaction.value) %></td>
        <td><%= transaction.cpf %></td>
        <td><%= transaction.card_number %></td>
      </tr>
    <% end %>
  </table>

  <div>Total desta loja: <%= store.total_in_transactions %></div>

<% end %>

